.container {
    /* Abilita il calcolo della dimensione dell'elemento */
    container-type: size;
    /* Stiamo definendo un tipo di contenitore di nome "container". */
    container-name: container;
  }
  
  .content::after {
    /* Contenuto predefinito */
    content: "👩‍🍳";
  }
  
  /* Il contenitore ha un'altezza superiore a 50 px */
  @container container (height > 50px) {
    .content::after {
      content: "🍊";
    }
  }
  
  /* Il contenitore ha un'altezza superiore a 240 px */
  @container container (height > 240px) {
    .content::after {
      content: "🍰";
    }
  }

  /* body {
    height: 100%;
    background-color: black;
    color: yellow;
  }

  .container {
    width: 350px;
    height: 50px;
    border: 2px solid #d217aa;
    border-radius: 15px;

    position: relative;
    overflow: hidden;
    min-height: 50px;
    max-height: 260px;

    margin: auto;
    line-height: 1.6;

    resize: vertical;
    user-select: none;

    } */